name: End-2-End tests
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    - cron: '0 0 * * *'
jobs:
  cypress-run:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Cypress run
        uses: cypress-io/github-action@v6.7.12
        with:
          install-command: npm install --force
          browser: chrome
          spec: |
            cypress/e2e/01_Header_Panel.feature
            cypress/e2e/02_Footer_Panel.feature
            cypress/e2e/03_Customer_Care.feature
            cypress/e2e/04_Register_New_User.feature
      - name: Upload screenshots
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: cypress-screenshots
          path: cypress/screenshots
